@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
  background-image: url('../assets/home/background-home-desktop.jpg');
  background-size: cover;
}

.glassmorphism {
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.06);
backdrop-filter: blur(10.3px);
-webkit-backdrop-filter: blur(10.3px);
border: 1px solid rgba(255, 255, 255, 0.01);
}

.neon:hover {
  text-shadow:
      0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff;
}

@media (max-width: 768px) {
  #hero {
  background-image: url('../assets/home/background-home-tablet.jpg');
  background-position: center;
  background-size: cover;
  }
}

@media (max-width: 480px) {
  #hero {
  background-image: url('../assets/home/background-home-mobile.jpg');
  background-position: center;
  background-size: cover;
  }
}
